@use 'variables.scss' as vars;

.toolbar{
    display: flex;

    .menu-icon{
        color: var(--mat-sys-on-primary);
    }

    .toolbar-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .icon-header{
            margin-left: 5px;
        }

    }

   
}
