.chart-container{
    margin-top: 16px;

    .card {
        padding: 16px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 6px;
        flex-wrap: wrap;
    }
}

